# DataFrames in pandas
A set of examples that exhibit some of the core features of the [DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) data type in the `pandas` module.

In [240]:
import numpy as np
import pandas as pd

## Basic concept
A DataFrame is a two-dimensional tabular data struture.  It is easily visualized like a spreadsheet, with rows and columns.

In [241]:
# create a DataFrame from a dictionary containing labeled pandas Series
df = pd.DataFrame({
    'name': pd.Series( ['Foo', 'Bar', 'Baz'] ),
    'email': pd.Series( ['fo1258@foo.edu', 'br9876@foo.edu', 'bz2292@foo.edu'] ),
    'midterm exam': pd.Series( [99, 64, 87] ),
    'final exam': pd.Series( [94, 72, 81] )
})
df

  name           email  midterm exam  final exam
0  Foo  fo1258@foo.edu            99          94
1  Bar  br9876@foo.edu            64          72
2  Baz  bz2292@foo.edu            87          81

In [242]:
# get the DataFrame's schema
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          3 non-null      object
 1   email         3 non-null      object
 2   midterm exam  3 non-null      int64
 3   final exam    3 non-null      int64
dtypes: int64(2), object(2)
memory usage: 224.0+ bytes

### Columns as Series
Each column is a named `pandas` Series.

In [243]:
df['midterm exam']

0    99
1    64
2    87
Name: midterm exam, dtype: int64

In [244]:
# prove that a column of a DataFrame is a Series
type( df['midterm exam'] )

pandas.core.series.Series

## Rows
Each row is also considered a `pandas` Series.

In [245]:
# get a row by its index
df.loc[1]

name                       Bar
email           br9876@foo.edu
midterm exam                64
final exam                  72
Name: 1, dtype: object

In [246]:
# prove that a row of a DataFrame is a Series
type( df.loc[1] )

pandas.core.series.Series

In [247]:
# get a row by its integer index
df.iloc[2]

name                       Baz
email           bz2292@foo.edu
midterm exam                87
final exam                  81
Name: 2, dtype: object

## Filtering rows

In [248]:
# match a criterion
df[ df['name'] == 'Bar' ]

  name           email  midterm exam  final exam
1  Bar  br9876@foo.edu            64          72

In [249]:
# match multiple criteria using & or | logic operators
df[ (df['name'] != 'Bar') & (df['midterm exam'] > 50) ]

  name           email  midterm exam  final exam
0  Foo  fo1258@foo.edu            99          94
2  Baz  bz2292@foo.edu            87          81

## Filtering columns

Extracting a **single column** is straightforward with square bracket syntax.

In [250]:
# fetch the 'name' column - this returns a Series
df['name']

0    Foo
1    Bar
2    Baz
Name: name, dtype: object

The easiest way to extract **multiple columns** from a dataframe is by supplying a list of column names.

In [251]:
# fetch the 'name' and 'final exam' columns - this returns a DataFrame
df[ ['name', 'final exam'] ]

  name  final exam
0  Foo          94
1  Bar          72
2  Baz          81

## Filtering rows and columns

It is possible to use two sets of brackets to perform both row and column filters in one expression.

In [252]:
# find one row by its index, and fetch one column from the results - this returns a single value
df.loc[2]['final exam']

81

In [253]:
# filter rows by criteria, and fetch one column from the results - this returns a Series
df[ df['name'] != 'Baz']['midterm exam']

0    99
1    64
Name: midterm exam, dtype: int64

In [254]:
# filter rows, and fetch multiple columns from the results - this returns a DataFrame
df[ df['name'] != 'Baz'][ ['name', 'midterm exam'] ]

  name  midterm exam
0  Foo            99
1  Bar            64

## Basic operations

In [255]:
# give a flat 2% curve to all students on the midterm exam
# update the midterm exam column
df['midterm exam'] = df['midterm exam'] + 2
df

  name           email  midterm exam  final exam
0  Foo  fo1258@foo.edu           101          94
1  Bar  br9876@foo.edu            66          72
2  Baz  bz2292@foo.edu            89          81

In [256]:
# add a new column to the dataframe...

# first, generate a Series of fake student ids
n_numbers = pd.Series(100000000*np.random.random(3)) # generate a series of random numbers
n_numbers = n_numbers.astype(int) # convert to a simple int to remove decimal place
n_numbers = 'N' + n_numbers.map(str) # add the letter 'N' in front of each number (first convert each to str)

# add to dataframe as a new column
df['n number'] = n_numbers
df

  name           email  midterm exam  final exam   n number
0  Foo  fo1258@foo.edu           101          94  N63047275
1  Bar  br9876@foo.edu            66          72  N60309747
2  Baz  bz2292@foo.edu            89          81  N99581936

## Mergine two dataframes

In [257]:
# let's first create a second dataframe with some more information about each student
# note that one of the indices in this dataframe does not exist in the other dataframe
df2 = pd.DataFrame({
    'major': ['Math', 'Computer Science', 'Philosophy', 'Organic Gardening'],
    'minor': ['Art History', 'Linguistics', 'Music Performance', 'Theater Lighting']
}, index = [3, 0, 2, 1])

df2

               major              minor
3               Math        Art History
0   Computer Science        Linguistics
2         Philosophy  Music Performance
1  Organic Gardening   Theater Lighting

In [258]:
# do an "inner join" type merge, where referential integrity is maintained
df.join(df2)

,name,email,midterm exam,final exam,n number,major,minor
0,Foo,fo1258@foo.edu,101,94,N63047275,Computer Science,Linguistics
1,Bar,br9876@foo.edu,66,72,N60309747,Organic Gardening,Theater Lighting
2,Baz,bz2292@foo.edu,89,81,N99581936,Philosophy,Music Performance

In [259]:
# do a "left join" type merge, where referential integrity is not maintained
pd.concat( [df, df2], axis=1)

,name,email,midterm exam,final exam,n number,major,minor
0,Foo,fo1258@foo.edu,101.0,94.0,N63047275,Computer Science,Linguistics
1,Bar,br9876@foo.edu,66.0,72.0,N60309747,Organic Gardening,Theater Lighting
2,Baz,bz2292@foo.edu,89.0,81.0,N99581936,Philosophy,Music Performance
3,NaN,NaN,NaN,NaN,NaN,Math,Art History

## Setting the index
It's possible to change which column is used as an index

In [260]:
# set the index to be the new n number
df.set_index('n number')

          name           email  midterm exam  final exam
n number
N63047275  Foo  fo1258@foo.edu           101          94
N60309747  Bar  br9876@foo.edu            66          72
N99581936  Baz  bz2292@foo.edu            89          81

## Importing data from files
Pandas can import from a variety of common data file formats, including CSV, JSON, fixed-width column text, and more.

In [261]:
# open data about NYC jobs from https://data.cityofnewyork.us/City-Government/NYC-Jobs/kpav-sd4t
df = pd.read_csv('./NYC_Jobs.csv')

In [262]:
# get the DataFrame's schema - notice the auto-detection of data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 30 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Job ID                         1218 non-null   int64
 1   Agency                         1218 non-null   object
 2   Posting Type                   1218 non-null   object
 3   # Of Positions                 1218 non-null   int64
 4   Business Title                 1218 non-null   object
 5   Civil Service Title            1218 non-null   object
 6   Title Classification           1218 non-null   object
 7   Title Code No                  1218 non-null   object
 8   Level                          1218 non-null   object
 9   Job Category                   1216 non-null   object
 10  Full-Time/Part-Time indicator  1129 non-null   object
 11  Career Level                   1216 non-null   object
 12  Salary Range From              1218 non-null   float64
 13  Salary Range To                1218 non-null   float64
 14  Salary Frequency               1218 non-null   object
 15  Work Location                  1218 non-null   object
 16  Division/Work Unit             1218 non-null   object
 17  Job Description                1218 non-null   object
 18  Minimum Qual Requirements      1198 non-null   object
 19  Preferred Skills               1067 non-null   object
 20  Additional Information         750 non-null    object
 21  To Apply                       1215 non-null   object
 22  Hours/Shift                    361 non-null    object
 23  Work Location 1                485 non-null    object
 24  Recruitment Contact            0 non-null      float64
 25  Residency Requirement          1216 non-null   object
 26  Posting Date                   1218 non-null   object
 27  Post Until                     338 non-null    object
 28  Posting Updated                1218 non-null   object
 29  Process Date                   1218 non-null   object
dtypes: float64(3), int64(2), object(25)
memory usage: 285.6+ KB

In [263]:
# show a few randomly-sampled rows
df.sample(5)

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
245,452572,DEPT OF HEALTH/MENTAL HYGIENE,External,1,"Associate Laboratory Microbiologist, Bureau of...",ASSOCIATE LABORATORY MICROBIOL,Competitive-1,21514,01,Health,...,**Applicant must possess or be eligible for a ...,Apply online with a cover letter to https://a1...,NaN,NaN,NaN,New York City residency is generally required ...,01/29/2021,29-MAY-2021,01/29/2021,04/13/2021
232,416466,NYC HOUSING AUTHORITY,Internal,5,Field Inspector,CONSTRUCTION PROJECT MANAGER,Competitive-1,34202,01,"Engineering, Architecture, & Planning",...,1. Employees serving in the titles of or who ...,Click the Apply Now button.,NaN,NaN,NaN,NYCHA has no residency requirements.,03/26/2021,NaN,03/26/2021,04/13/2021
138,442016,FINANCIAL INFO SVCS AGENCY,External,1,DISASTER RECOVERY ANALYST,IT SERVICE MANAGEMENT SPECIALI,Non-Competitive-5,95713,00,"Technology, Data & Innovation",...,P461,External applicants please visit https://a127-...,"Monday â Friday, 9am to 5pm.",NaN,NaN,New York City Residency is not required for th...,07/23/2020,NaN,07/23/2020,04/13/2021
219,431033,HUMAN RIGHTS COMMISSION,Internal,1,Program & Policy Specialist for Racial and Res...,ASSOCIATE HUMAN RIGHTS SPECIAL,Competitive-1,55038,01,Constituent Services & Community Programs,...,NaN,For City employees: Go to Employee Self-Servic...,"9AM-5PM; ON OCCASION, CANDIDATES WILL BE REQUI...",NaN,NaN,New York City residency is generally required ...,01/29/2020,NaN,01/29/2020,04/13/2021
198,458424,CONSUMER AFFAIRS,Internal,1,Press Secretary,ADMINISTRATIVE PUBLIC INFORMAT,Competitive-1,10033,M2,Communications & Intergovernmental Affairs,...,NaN,For Non-City/External Candidates: Visit the Ex...,NaN,NaN,NaN,New York City residency is generally required ...,02/23/2021,24-APR-2021,02/23/2021,04/13/2021

In [264]:
# look for good-paying jobs ( > $200,000) available for external candidates
df_external_jobs = df[ df['Posting Type'] == 'External' ]
df_external_annual_jobs = df_external_jobs[ df_external_jobs['Salary Frequency'] == 'Annual' ]
df_external_annual_jobs_over_200k = df_external_annual_jobs[ df_external_annual_jobs['Salary Range To'] >= 200000 ]
df_external_annual_jobs_over_200k.sample(5)

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
1052,459311,OFFICE OF MANAGEMENT & BUDGET,External,1,Assistant Director Administration of Justice,BUDGET ANALYST (OMB)-MANAGERIA,Pending Classification-2,0608A,M4,"Finance, Accounting, & Procurement Policy, Res...",...,"REQUIREMENTS: Assistant Director ($141,766): ...","For City employees, please go to Employee Self...",NaN,255 Greenwich Street,NaN,New York City residency is generally required ...,03/10/2021,NaN,03/10/2021,04/13/2021
176,432041,ADMIN FOR CHILDREN'S SVCS,External,1,"Deputy Commissioner, Child and Family Well-Being",DEPUTY DIRECTOR OF ADMINISTRAT,Non-Competitive-5,52485,M7,Social Services,...,Section 424-A of the New York Social Services ...,Click on Apply Now button,NaN,NaN,NaN,New York City residency is generally required ...,02/04/2020,NaN,02/04/2020,04/13/2021
438,458110,OFFICE OF THE COMPTROLLER,External,1,Chief Risk Officer,DIRECTOR OF INVESTMENTS (COMP,Non-Competitive-5,95612,MY,"Finance, Accounting, & Procurement",...,The selected candidate will be subject to the ...,Please visit our website at https://comptrolle...,NaN,NaN,NaN,New York City residency is generally required ...,02/08/2021,NaN,02/08/2021,04/13/2021
644,453677,NYC EMPLOYEES RETIREMENT SYS,External,1,ADMINISTRATIVE MANAGEMENT AUDITOR,ADMINISTRATIVE MANAGEMENT AUDI,Competitive-1,10010,M5,Administration & Human Resources,...,NaN,"TO APPLY FOR CONSIDERATION, PLEASE FORWARD A C...",NaN,NaN,NaN,New York City residency is generally required ...,11/17/2020,NaN,11/17/2020,04/13/2021
773,457622,DEPT OF INFO TECH & TELECOMM,External,1,Deputy CISO - Urban Technology,TELECOMMUNICATION MANAGER,Competitive-1,82984,M5,"Technology, Data & Innovation",...,NaN,Special Note: Taking and passing civil service...,Day - Due to the necessary technical managemen...,"New York, NY",NaN,New York City residency is generally required ...,02/03/2021,NaN,02/11/2021,04/13/2021

In [265]:
# the same query as above, just in one line
df[ (df['Posting Type'] == 'External') & (df['Salary Frequency'] == 'Annual') & (df['Salary Range To'] >= 200000) ].sample(5)

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
401,459041,NYC EMPLOYEES RETIREMENT SYS,External,1,ADMINISTRATIVE STAFF ANALYST,ADMINISTRATIVE STAFF ANALYST (,Competitive-1,10026,M7,"Public Safety, Inspections, & Enforcement",...,NaN,"TO APPLY FOR CONSIDERATION, PLEASE FORWARD A C...",NaN,NaN,NaN,New York City residency is generally required ...,03/03/2021,30-APR-2021,03/03/2021,04/13/2021
759,373748,NYC EMPLOYEES RETIREMENT SYS,External,1,ADMINISTRATIVE MANAGEMENT AUDITOR,ADMINISTRATIVE MANAGEMENT AUDI,Competitive-1,10010,M7,"Administration & Human Resources Finance, Acco...",...,NaN,"TO APPLY FOR CONSIDERATION, PLEASE FORWARD A C...",NaN,NaN,NaN,New York City residency is generally required ...,11/07/2018,NaN,11/07/2018,04/13/2021
263,445754,NYC HOUSING AUTHORITY,External,1,Vice President for Operation Support Services,ADMINISTRATIVE HOUSING SUPERIN,Competitive-1,10019,M5,Building Operations & Maintenance,...,"1.\tNYCHA employees applying for promotional, ...",Click the Apply Now button.,NaN,NaN,NaN,NYCHA has no residency requirements.,09/23/2020,NaN,02/16/2021,04/13/2021
734,441706,TAXI & LIMOUSINE COMMISSION,External,1,General Counsel/Deputy Commissioner for Legal ...,EXECUTIVE AGENCY COUNSEL,Non-Competitive-5,95005,M6,Legal Affairs,...,NaN,"Click, APPLY NOW Current city employees must a...",NaN,"33 Beaver St, New York Ny",NaN,New York City residency is generally required ...,07/13/2020,NaN,07/13/2020,04/13/2021
332,434222,NYC EMPLOYEES RETIREMENT SYS,External,1,COMPUTER SYSTEMS MANAGER,COMPUTER SYSTEMS MANAGER,Competitive-1,10050,M7,"Technology, Data & Innovation",...,NaN,"TO APPLY FOR CONSIDERATION, PLEASE FORWARD A C...",NaN,NaN,NaN,New York City Residency is not required for th...,02/18/2020,NaN,02/18/2020,04/13/2021

## Basic statistics

In [266]:
# get an overview of most common stats
df.describe()

,Job ID,# Of Positions,Salary Range From,Salary Range To,Recruitment Contact
count,1218.000000,1218.000000,1218.000000,1218.000000,0.0
mean,422305.477011,4.671593,54910.929420,80338.174449,NaN
std,69258.267489,18.947981,33388.197579,52242.387389,NaN
min,87990.000000,1.000000,0.000000,10.360000,NaN
25%,426293.750000,1.000000,38333.000000,55123.000000,NaN
50%,456028.000000,1.000000,58700.000000,78303.000000,NaN
75%,460054.500000,1.000000,74650.000000,108903.750000,NaN
max,461151.000000,250.000000,250000.000000,265000.000000,NaN

In [267]:
# the same, but just for the 'Salary Range To' field (which is a Series, of course)
df['Salary Range To'].describe()

count      1218.000000
mean      80338.174449
std       52242.387389
min          10.360000
25%       55123.000000
50%       78303.000000
75%      108903.750000
max      265000.000000
Name: Salary Range To, dtype: float64

In [268]:
# get just the mean from the column
df['Salary Range To'].median()

78303.0

The other statistics functions - `min()`, `max()`, `mean()`, `std()`, `count()` - work similarly.

## Grouping by a column

In [271]:
# count how many jobs are in each agency
df.groupby("Agency")['Agency'].count()

Agency
ADMIN FOR CHILDREN'S SVCS          55
ADMIN TRIALS AND HEARINGS           4
BOARD OF CORRECTION                 2
BOROUGH PRESIDENT-QUEENS            2
BUSINESS INTEGRITY COMMISSION       7
CIVILIAN COMPLAINT REVIEW BD        2
CONSUMER AFFAIRS                   34
DEPARTMENT FOR THE AGING           16
DEPARTMENT OF BUILDINGS             3
DEPARTMENT OF BUSINESS SERV.        4
DEPARTMENT OF CITY PLANNING        31
DEPARTMENT OF CORRECTION           51
DEPARTMENT OF INVESTIGATION        18
DEPARTMENT OF PROBATION             6
DEPARTMENT OF SANITATION            8
DEPARTMENT OF TRANSPORTATION       12
DEPT OF CITYWIDE ADMIN SVCS         9
DEPT OF ENVIRONMENT PROTECTION    123
DEPT OF HEALTH/MENTAL HYGIENE      85
DEPT OF INFO TECH & TELECOMM       53
DEPT OF PARKS & RECREATION         46
DEPT OF YOUTH & COMM DEV SRVS      18
DISTRICT ATTORNEY KINGS COUNTY      4
DISTRICT ATTORNEY RICHMOND COU      4
FINANCIAL INFO SVCS AGENCY         36
FIRE DEPARTMENT                    14
HOUSING PRESERVATION & DVLPMNT     36
HRA/DEPT OF SOCIAL SERVICES        19
HUMAN RIGHTS COMMISSION            24
LAW DEPARTMENT                     67
MANHATTAN COMMUNITY BOARD #6        2
MANHATTAN COMMUNITY BOARD #7        2
MAYORS OFFICE OF CONTRACT SVCS      4
NYC EMPLOYEES RETIREMENT SYS       71
NYC FIRE PENSION FUND               4
NYC HOUSING AUTHORITY             134
NYC POLICE PENSION FUND             6
OFF OF PAYROLL ADMINISTRATION      17
OFFICE OF COLLECTIVE BARGAININ      2
OFFICE OF EMERGENCY MANAGEMENT     14
OFFICE OF MANAGEMENT & BUDGET      30
OFFICE OF THE COMPTROLLER          58
POLICE DEPARTMENT                  50
PRESIDENT BOROUGH OF MANHATTAN      2
PUBLIC ADMINISTRATOR-NEW YORK       1
TAXI & LIMOUSINE COMMISSION        23
TEACHERS RETIREMENT SYSTEM          5
Name: Agency, dtype: int64

In [278]:
# calculate the mean top salary within each agency
df.groupby("Agency")['Salary Range To'].mean()

Agency
ADMIN FOR CHILDREN'S SVCS          96378.202182
ADMIN TRIALS AND HEARINGS          18905.576350
BOARD OF CORRECTION               150000.000000
BOROUGH PRESIDENT-QUEENS           63794.000000
BUSINESS INTEGRITY COMMISSION      87857.142857
CIVILIAN COMPLAINT REVIEW BD      108064.500000
CONSUMER AFFAIRS                   69002.576471
DEPARTMENT FOR THE AGING           79165.859337
DEPARTMENT OF BUILDINGS            74076.666667
DEPARTMENT OF BUSINESS SERV.      137641.750000
DEPARTMENT OF CITY PLANNING        77604.548387
DEPARTMENT OF CORRECTION           76070.957784
DEPARTMENT OF INVESTIGATION        76121.888889
DEPARTMENT OF PROBATION            62702.333333
DEPARTMENT OF SANITATION          143626.850000
DEPARTMENT OF TRANSPORTATION      115114.530000
DEPT OF CITYWIDE ADMIN SVCS        57031.733333
DEPT OF ENVIRONMENT PROTECTION     31538.537340
DEPT OF HEALTH/MENTAL HYGIENE      70782.981556
DEPT OF INFO TECH & TELECOMM      145506.735849
DEPT OF PARKS & RECREATION          6190.519243
DEPT OF YOUTH & COMM DEV SRVS      85150.333333
DISTRICT ATTORNEY KINGS COUNTY     52544.000000
DISTRICT ATTORNEY RICHMOND COU     99808.000000
FINANCIAL INFO SVCS AGENCY         95381.533333
FIRE DEPARTMENT                    75128.203029
HOUSING PRESERVATION & DVLPMNT     78854.944444
HRA/DEPT OF SOCIAL SERVICES        82291.315789
HUMAN RIGHTS COMMISSION            87598.416667
LAW DEPARTMENT                     69019.732512
MANHATTAN COMMUNITY BOARD #6       52000.000000
MANHATTAN COMMUNITY BOARD #7      100000.000000
MAYORS OFFICE OF CONTRACT SVCS    118550.000000
NYC EMPLOYEES RETIREMENT SYS      131359.198963
NYC FIRE PENSION FUND             156076.000000
NYC HOUSING AUTHORITY              85354.854776
NYC POLICE PENSION FUND            65373.000000
OFF OF PAYROLL ADMINISTRATION      53971.934118
OFFICE OF COLLECTIVE BARGAININ        10.360000
OFFICE OF EMERGENCY MANAGEMENT     90750.000000
OFFICE OF MANAGEMENT & BUDGET     101379.666667
OFFICE OF THE COMPTROLLER          95235.505862
POLICE DEPARTMENT                  73680.579200
PRESIDENT BOROUGH OF MANHATTAN    100000.000000
PUBLIC ADMINISTRATOR-NEW YORK      49349.000000
TAXI & LIMOUSINE COMMISSION       103237.086957
TEACHERS RETIREMENT SYSTEM         97400.000000
Name: Salary Range To, dtype: float64

In [282]:
# show just the top 10 paying agencies
df.groupby("Agency")['Salary Range To'].mean().sort_values().tail(10)

Agency
TAXI & LIMOUSINE COMMISSION       103237.086957
CIVILIAN COMPLAINT REVIEW BD      108064.500000
DEPARTMENT OF TRANSPORTATION      115114.530000
MAYORS OFFICE OF CONTRACT SVCS    118550.000000
NYC EMPLOYEES RETIREMENT SYS      131359.198963
DEPARTMENT OF BUSINESS SERV.      137641.750000
DEPARTMENT OF SANITATION          143626.850000
DEPT OF INFO TECH & TELECOMM      145506.735849
BOARD OF CORRECTION               150000.000000
NYC FIRE PENSION FUND             156076.000000
Name: Salary Range To, dtype: float64

In [284]:
# find agencies with the largest range of salaries
df['Salary Range'] = df['Salary Range To'] - df['Salary Range From']
df.groupby("Agency")['Salary Range'].mean().sort_values().tail(10)[::-1]

Agency
DISTRICT ATTORNEY RICHMOND COU    99808.000000
DEPARTMENT OF SANITATION          92479.280000
NYC FIRE PENSION FUND             90707.000000
DEPARTMENT OF BUSINESS SERV.      82505.500000
DEPT OF INFO TECH & TELECOMM      81912.075472
DEPARTMENT OF TRANSPORTATION      62526.250000
CIVILIAN COMPLAINT REVIEW BD      59884.500000
NYC EMPLOYEES RETIREMENT SYS      52422.800256
TAXI & LIMOUSINE COMMISSION       35955.173913
NYC HOUSING AUTHORITY             33264.017910
Name: Salary Range, dtype: float64

## Shape

In [129]:
# how many rows and columns?
df.shape

(1218, 30)

In [131]:
# remind ourselves of the look of the data
df.sample(3)

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
694,434073,DEPT OF YOUTH & COMM DEV SRVS,Internal,1,Cornerstone Program Director,ADMIN COMMUNITY RELATIONS SPEC,Competitive-1,1002F,00,Constituent Services & Community Programs,...,This position is open to qualified persons wit...,Search for the Job ID # 434073 External Candid...,35 Hours Per Week (minimum),NaN,NaN,New York City residency is generally required ...,02/21/2020,NaN,02/21/2020,04/13/2021
178,424227,FINANCIAL INFO SVCS AGENCY,Internal,1,Web Application Developer,SENIOR IT ARCHITECT,Non-Competitive-5,95711,00,"Technology, Data & Innovation",...,P293,External applicants please visit https://a127-...,"Monday - Friday, 9am to 5pm.",NaN,NaN,New York City Residency is not required for th...,11/27/2019,NaN,11/27/2019,04/13/2021
1025,444520,DEPARTMENT OF INVESTIGATION,Internal,1,Director of Outreach,SPECIAL INVESTIGATOR,Exempt-4,31130,00,Communications & Intergovernmental Affairs Pol...,...,NaN,All current City Employees may apply by going ...,NaN,180 Maiden Lane,NaN,New York City residency is generally required ...,09/14/2020,30-JUN-2021,03/10/2021,04/13/2021

In [132]:
# flip the dataframe so columns become rows and rows become columns
df.transpose().head()

,0,1,2,3,4,5,6,7,8,9,...,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217
Job ID,457043,231945,456223,460503,293033,451777,458663,458506,458506,460791,...,316149,432393,445338,395999,395999,456344,237576,458965,454766,448861
Agency,NYC HOUSING AUTHORITY,ADMIN FOR CHILDREN'S SVCS,DEPT OF INFO TECH & TELECOMM,DEPT OF ENVIRONMENT PROTECTION,NYC HOUSING AUTHORITY,OFFICE OF THE COMPTROLLER,PRESIDENT BOROUGH OF MANHATTAN,DEPT OF PARKS & RECREATION,DEPT OF PARKS & RECREATION,FINANCIAL INFO SVCS AGENCY,...,NYC HOUSING AUTHORITY,DEPARTMENT OF CORRECTION,DEPT OF INFO TECH & TELECOMM,LAW DEPARTMENT,LAW DEPARTMENT,HRA/DEPT OF SOCIAL SERVICES,ADMIN FOR CHILDREN'S SVCS,FIRE DEPARTMENT,DEPARTMENT OF SANITATION,POLICE DEPARTMENT
Posting Type,Internal,Internal,Internal,Internal,External,External,Internal,Internal,Internal,Internal,...,External,External,Internal,Internal,Internal,External,Internal,External,Internal,External
# Of Positions,1,9,2,1,1,1,1,60,60,1,...,5,5,5,1,1,10,1,1,1,1
Business Title,Chief Privacy Officer,Quality Improvement Specialist,System Access Management Engineer,2021-BWT-001-Construction Management Intern,Deputy Press Secretary,Director - Diversity & Inclusion and Emerging ...,Information Technology Manager,City Seasonal Aide,City Seasonal Aide,MAINFRAME SYSTEM PROGRAMMER,...,Construction Safety and Quality Inspector,EXTERMINATOR,Cyber Senior Threat Anaylst,Certified IT Developer (Applications) Level 3,Certified IT Developer (Applications) Level 3,CRISIS INTERVENTION NURSE,Deputy Budget Director,PSYCHOLOGIST,"DIRECTOR, EMPLOYEE ASSISTANCE UNIT",Elevator Mechanic