## import

In [1]:
import numpy as np
import pandas as pd

## Create a Series

In [22]:
# simple series with automatic numeric indices
x = pd.Series([22, 44, 66, 88])
x

0    22
1    44
2    66
3    88
dtype: int64

In [23]:
# get value with numeric index
x[2]

66

In [24]:
# with a custom indices
y = pd.Series([22, 44, 66, 88], index=['a', 'b', 'c', 'd'])
y

a    22
b    44
c    66
d    88
dtype: int64

In [25]:
# get value with custom index
y['c']

66

In [33]:
# from a Python dictionary
z = pd.Series({'foo': 22, 'bar': 44, 'baz': 66, 'bum': 88})
z

foo    22
bar    44
baz    66
bum    88
dtype: int64

## Naming Series
Series can be given a custom name.

In [57]:
# create a Series with a custom name
x = pd.Series([22, 44, 66, 88], name='non-anonymous Series')
x

0    22
1    44
2    66
3    88
Name: non-anonymous Series, dtype: int64

In [58]:
# get the name
x.name

'non-anonymous Series'

## Indexing
Accessing values from a `pandas` Series.

In [81]:
# an example Series, with String labels
x = pd.Series({'foo': 22, 'bar': 44, 'baz': 66, 'bum': 88})

In [82]:
# access by label
x['bar']

44

In [83]:
# access by integer index (even with a custom-labeled Series)
x[1]

44

In [84]:
# access by integer index
x.iloc[1]

44

In [87]:
# access by label
x.loc['bar']

44

In [89]:
# accessing a subset by integer indices
x[ [0, 1, 2] ]

foo    22
bar    44
baz    66
dtype: int64

In [90]:
# accessing a subset by integer indices
x.iloc[ [0, 1, 2] ]

foo    22
bar    44
baz    66
dtype: int64

In [93]:
# accessing a subset by label indices
x.loc[ ['foo', 'bar', 'baz'] ]

foo    22
bar    44
baz    66
dtype: int64

## Slicing
Unlike `numpy` ndarrays, slicing a `pandas` Series will also slice the index.

In [38]:
# slice an automatically-indexed Series
x = pd.Series([22, 44, 66, 88])
x[2 : ]

2    66
3    88
dtype: int64

In [95]:
# the same thing, using iloc
x.iloc[2 : ]

baz    66
bum    88
dtype: int64

In [37]:
# slice a custom-indexed Series
y = pd.Series([22, 44, 66, 88], index=['a', 'b', 'c', 'd'])
y[2 : ]

c    66
d    88
dtype: int64

## Introspection
Accessing some metadata about a Series

In [39]:
# the data type of the Series
x = pd.Series([22, 44, 66, 88])
x.dtype

dtype('int64')

In [41]:
# the shape of the Series... in this case a one-dimensional array with 4 values
y = pd.Series([22, 44, 66, 88], index=['a', 'b', 'c', 'd'])
y.shape

(4,)

In [61]:
# get the name of a named series
x = pd.Series([22, 44, 66, 88], name="non-anonymous Series")
x.name

'non-anonymous Series'

## Simple math operations

In [43]:
# add a scalar to all values in a Series
x = pd.Series([22, 44, 66, 88])
x + 2

0    24
1    46
2    68
3    90
dtype: int64

In [44]:
# subtract a scalar from all values in a Series
x = pd.Series([22, 44, 66, 88])
x - 2

0    20
1    42
2    64
3    86
dtype: int64

In [45]:
# divid all values in a Series by a scalar
x = pd.Series([22, 44, 66, 88])
x / 11

0    2.0
1    4.0
2    6.0
3    8.0
dtype: float64

... and so on

In [46]:
x > 50

0    False
1    False
2     True
3     True
dtype: bool

In [48]:
x != 44

0     True
1    False
2     True
3     True
dtype: bool

In [64]:
# add two series together
x = pd.Series([22, 44, 66, 88])
x + x

0     44
1     88
2    132
3    176
dtype: int64

## Alignment of labels
Unlike `numpy` ndarrays, operations on Series automatically align by labels.

In [49]:
# for example, take two Series with the same set of labels, but in different orders
a = pd.Series({'foo': 22, 'bar': 44, 'baz': 66, 'bum': 88})
b = pd.Series({'bum': 1, 'baz': 2, 'bar': 3, 'foo': 4, })

In [51]:
# math operations will be performed on values that share the same label
a + b

bar    47
baz    68
bum    89
foo    26
dtype: int64